.LoginMain{
    display:flex;
    
}
.LoginMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #5DAE8B;
}
.p{
    text-align: center;
}
.back{
    height:100vh;
    background-size: 3000px;
}