.LoginMain {
  display: flex;
}
.LoginMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #5dae8b;
}
.p {
  text-align: center;
}
.guide {
  text-align: center;
  color: rgb(69, 69, 69);
}
.farmding {
  text-align: center;
  font-size: 40px;
  color: white;
  margin: 10px 0 30px 0;
}
.back {
  height: 100vh;
  width: 70vw;
  opacity: 80%;
  //   background-size: 3000px;
}
.farmer {
  width: 30vh;
  height: 20vh;
}
.btn {
  display: flex;
  justify-content: center;
}
.help {
  margin: auto 0 auto 10px;
  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 3%;
  }
}
