.reward_item {
  height: 70%;
  // margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .modal_content {
    // height: 10%;
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 18px;
    // font-weight: bold;
    color: #868686;
  }
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
