.reward_box {
  width: 95%;
  height: 230px;
  // margin-bottom: 20px;
  margin: 0px auto 20px auto;
  background: rgba(221, 221, 221, 0.4);
  border-radius: 20px;
  cursor: pointer;
}
.active {
  background: rgba(93, 174, 139, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // color: #fff;
}

.funding_price {
  display: flex;
  padding-top: 20px;
  margin: 5px 20px 0px 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 0 0px;

  span {
    color: #ff5a73;
  }
}

.select {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 20px 30px 0;
}
.shipping {
  margin: 20px 0px 0px 40px;

  span {
    font-weight: bold;
    color: black;
  }
}
