.reward_confirm_box {
  width: 95%;
  height: 200px;
  // margin-bottom: 20px;
  margin: 10px auto 20px auto;
  background: rgba(221, 221, 221, 0.4);
  border-radius: 20px;
  cursor: pointer;
}

.funding_price {
  display: flex;
  padding-top: 20px;
  margin: 0px 20px 0px 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 0px;

  span {
    color: #ff5a73;
  }
}

.shipping {
  margin: 10px 0px 0px 40px;

  span {
    font-weight: bold;
    color: black;
  }
}
