.header {
  display: flex;
  justify-content: center;
}
.image {
  height: 85vh;
  width: 100%;
  //   width: 100vw;
}
.headerImage {
  height: 60vh;
  width: 100%;
  //   width: 100vw;
  // width: 100%;
}
