.rankingBox {
  border-left: 1px solid rgba(100, 100, 100, 0.47);
  margin-left: 20px;
  padding-left: 20px;
}
.title {
  margin-left: 16px;
}
.rank1 {
  color: #ff7676;
  font-size: 30px;
  padding-top: 8px;
  padding-right: 20px;
}
.rank {
  font-size: 30px;
  padding-top: 8px;
  padding-right: 20px;
}
.detailInfo {
  display: flex;
  justify-content: space-between;
}
.heartArea {
  display: flex;
  justify-content: right;
}

.like {
  margin-left: 4px;
  padding-top: 2px;
}
