.farm_expl {
  margin: 40px auto 20px auto;
  width: 75%;

  .farm_name {
    display: flex;
    // margin: 30px 10px 10px 70px;
  }
  .farm_info {
    width: 95%;
    display: flex;
    // letter-spacing: 1px;
    // line-height: 180%;
    margin: 20px auto;
  }
}
