.card {
  .card_img {
    cursor: pointer;
    &:hover {
      box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.25);
      transform: translateY(-7px);
      transition: 0.5s;
    }
  }
  .pjt_title {
    cursor: pointer;
    margin-bottom: 17px;
  }
}

.heartArea {
  display: flex;
  justify-content: space-between;
  // padding-bottom: 10px;
  .heart_with_cnt {
    display: flex;
    .heart {
      cursor: pointer;
    }
    .like {
      position: relative;
      // margin-left: 7px;
      margin: 10px 0 0 7px;
      bottom: 6px;
    }
  }
}
